# Dependencies
node_modules/
jspm_packages/

# Testing
/coverage

# Production
build/
dist/
/tmp

# Environment variables
.env
.env.local

# Optional Common Files
npm-debug.log
yarn-error.log
test-*.js.snap

# Editor/OS Files
.DS_Store
Thumbs.db
